body {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: #212121;
    min-height: 400px;
}
.container {
    background-color: #f0ffff;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
}

#content {
    text-align: justify;
    height: 100%;
    margin: 0 auto;
    font-size: 18px;
}
#ball{
    z-index: 1;
    font-family: 'Raleway:600', sans-serif;
}
#fest{
    position: absolute;
    left: 5vw;
    top: 55px;
    font-family: cursive;
    color:#F3BC21;
    font-size:20px;
}

#moto{
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: calc(50% - 165px);
    font-family: 'Permanent Marker', cursive;
    word-spacing: 20px;
}

polygon {
    transition: .6s fill;
    fill: #ffffff;
    opacity: 0.25;
}

polygon:hover, .text:hover ~ polygon {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.wrapper{
    position: absolute;
    width: 100%;
    margin-top: 400px;
    padding-top: 80px;

}
#events div{
    z-index: 1;
}

#events div div {
    padding: 10px;
}

#events .row div:hover {
    background-color:#ffffb3;
}

#events a {
    color: #805500;
    text-decoration: none;
}

#footer{
    padding: 20px;
}
#googleMap {
    height: 400px;
    width: 800px;
}

.modal-header, h4, .close {
    background-color:#0158A1;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 20px 50px;
}

#player {
    display: none;
}

@media screen and (max-width: 480px) {

    #logo {
        width: 30vw;
    }

    #ball {
        position: absolute;
        width: 100%;
        padding-top: calc(400px - 51.2%);
    }

    #content, #googleMap {
        width: auto;
    }
}

@media screen and (min-width: 481px) {

    #logo {
        width: 20vw;
    }
     #fest{
        font-size: 25px;
    }
    #moto{
        font-size: 30px;
        margin-left: calc(50% - 200px);
    }
    #ball {
        width: 480px;
        position: absolute;
        margin-top: 154px;
        margin-left: calc(50% - 240px);
    }

    #content, #googleMap {
        width: auto;
    }
}

@media screen and (min-width: 980px) {

    #logo {
        width: 250px;
    }
    #fest{
        top: 50px;
        font-size: 30px
    }
    #player {
        display: block;
        position: absolute;
        margin: 10px 0px 0px calc(50% + 175px);
        width: 300px;
    }

    #content, #googleMap {
        width: 800px;
    }
}





